# Introduction

The purpose of kernel is to prepare COT report into a processable format.

At the end the number of positions are given as positive or negative numbers meaning that specific group (ie. asset managers) took position long more than short if the number is positive and vice versa.

This kernel also unites two reports into a one dataframe.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df16 = pd.read_excel("cotreport/F_TFF_2006_2016.xls")
df20=pd.read_excel("cotreport/FinFutYY20.xls")
df19=pd.read_excel("cotreport/FinFutYY19.xls")
df18=pd.read_excel("cotreport/FinFutYY18.xls")
df17=pd.read_excel("cotreport/FinFutYY17.xls")

In [3]:
df = pd.concat([df16.iloc[::-1],df17.iloc[::-1],df18.iloc[::-1],df19.iloc[::-1],df20.iloc[::-1]])
df = df[df['Market_and_Exchange_Names']=='EURO FX - CHICAGO MERCANTILE EXCHANGE']
df = df.reset_index(drop=True)

In [4]:
df['Asset_Mgr_Positions'] = df['Asset_Mgr_Positions_Long_All'] - df['Asset_Mgr_Positions_Short_All']
df['Lev_Money_Positions'] = df['Lev_Money_Positions_Long_All'] - df['Lev_Money_Positions_Short_All']
df['Dealer_Positions'] = df['Dealer_Positions_Long_All'] - df['Dealer_Positions_Short_All']
df['Other_Rept_Positions'] = df['Other_Rept_Positions_Long_All'] - df['Other_Rept_Positions_Short_All']

In [5]:
df = df[['Report_Date_as_MM_DD_YYYY','Asset_Mgr_Positions','Lev_Money_Positions','Dealer_Positions','Other_Rept_Positions']]

In [6]:
#In order to unite both datasets there are an offset that must be ommitted.
df = df.iloc[29:]

In [7]:
dfl14 = pd.read_excel("cotreport/commnoncom/FUT07_14.xls")
dfl16 = pd.read_excel("cotreport/commnoncom/FUT15_16.xls")

dfl17=pd.read_excel("cotreport/commnoncom/2017.xls")
dfl18=pd.read_excel("cotreport/commnoncom/2018.xls")
dfl19=pd.read_excel("cotreport/commnoncom/2019.xls")
dfl20=pd.read_excel("cotreport/commnoncom/2020.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [8]:
dfl = pd.concat([dfl14.iloc[::-1],dfl16.iloc[::-1],dfl17.iloc[::-1],dfl18.iloc[::-1],dfl19.iloc[::-1],dfl20.iloc[::-1]])
dfl = dfl[dfl['Market_and_Exchange_Names']=='EURO FX - CHICAGO MERCANTILE EXCHANGE']
dfl = dfl.reset_index(drop=True)

In [9]:
dfl['Comm_Positions'] = dfl['Comm_Positions_Long_All'] - dfl['Comm_Positions_Short_All']
dfl['NonComm_Positions'] = dfl['NonComm_Positions_Long_All'] - dfl['NonComm_Positions_Short_All']

In [10]:
dfl = dfl[['Report_Date_as_MM_DD_YYYY','Comm_Positions','NonComm_Positions']]

In [11]:
newdf = pd.concat([df.reset_index(drop=True).set_index('Report_Date_as_MM_DD_YYYY'),dfl.reset_index(drop=True).set_index("Report_Date_as_MM_DD_YYYY")],axis=1)

In [12]:
newdf.reset_index().head()

,Report_Date_as_MM_DD_YYYY,Asset_Mgr_Positions,Lev_Money_Positions,Dealer_Positions,Other_Rept_Positions,Comm_Positions,NonComm_Positions
0,2007-01-03,14718,52819,-103874,4223,-109570,77456
1,2007-01-09,16369,47594,-97862,4732,-104339,75172
2,2007-01-16,17002,24472,-71665,6549,-77184,53542
3,2007-01-23,15911,30379,-71340,5471,-80589,61010
4,2007-01-30,14821,32953,-68002,4505,-78302,62579

In [13]:
newdf.reset_index().to_csv("cotReportWithAll.csv",index=False)